

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
    <title>Weclicku</title>   
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/weclick.css' %}">
</head>
<body>
    <div class="main">
        <div class="nav">
            <div class="navleft">
                <img src="#" alt=" ">
                <h3>weclicku</h3>
                <p>emotion through photos</p>
            </div>
            <div class="navright">
                <div class="navr1"></div>
                <div class="navr2">
                    <h5><a href="#">HOME</a></h5>
                    <h5><a href="#">EVENT</a></h5>
                    <h5><a href="#">GALLERY </a></h5>
                    <h5><a href="#">CONTACT</a></h5>
                    <h5><a href="/login">LOGIN.</a></h5>
                    <div class="menuu">
                        <div class="menu"></div>
                        <div class="menu"></div>
                        <div class="menu"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intropage">
            <div class="intropage1">
                <h3>Best Online Service <span>- - - - - -</span><h3/>
                <h1>Hire Your Family <span>PHOTOGRAPHER</span></h1>
                <p>YOU'RE ABOUT TO THROW THE MOST EPIC PARTY FOR YOUR FRIENDS AND FAMILY? UNEXPECTED MOMENTS, 
                    ROLLERCOASTER EMOTIONS, AND BEAUTIFUL SOULS CRAZY IN LOVE MAKE OUR HEARTS BEAT FASTER. 
                    WE'RE FOLLOWING CLIENTS WORLDWIDE, CAPTURING THESE VIBRANT MEMORIES YOU'LL CARRY WITH YOU FOR YEARS TO COME.
                 YOU FEEL LIKE WE COULD VIBE? LEAVE US A MESSAGE AND LET'S GET THIS PARTY STARTED.</p>
                 <div class="searchbox"> 
                    <input type="text" placeholder="Search your Photographer..."><i class="ri-search-line"></i>
                 </div>
            </div>
            <div class="intropage2">
                <div class="div1"><img src="static/img/div1.jpg" alt="" height="100%" width="100%"></div>
                <div class="lowdiv">
                    <div class="div2"><img src="static/img/div2.jpg" alt="" height="100%" width="100%"></div>
                    <div class="div3"><img src="static/img/div3.jpg" alt="" height="100%" width="100%"></div>
                </div>
            </div>
        </div>
        <!-- <div class="lastpage"></div> -->
    </div>
</body>
</html>